@import "tailwindcss";

@theme {
    --color-brown-100: #DBC1AC;
    --color-brown-300: #DBC1AC;
    --color-brown-600: #ECE0D1;
    --color-brown-900: #634832;

    --shadow-normal: 0px 1px 10px rgba(0, 0, 0, 0.05);

    --radius-4xl: 2rem;

    --font-Dana: "Dana";
    --font-DanaMedium: "Dana Medium";
    --font-DanaDemiBold: "Dana DemiBold";
    --font-MorabbaLight: "Morabba Light";
    --font-MorabbaMedium: "Morabba Medium";
    --font-MorabbaBold: "Morabba Bold";

    --tracking-tightest: -0.065em;

    --breakpoint-xs: 480px;
}

@utility container {
    @apply mx-auto px-4 lg:px-2.5;
}

@layer utilities {
    .bg-home-mobile {
        background-image: url("../public/mobile.jpg");
    }

    .bg-home-desktop {
        background-image: url("../public/desktop.jpg");
    }
}

@layer base {
    @font-face {
        font-family: "Dana";
        /* 400 */
        src: local("Dana"), url("../public/fonts/Dana/woff2/DanaFaNum-Regular.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana Medium";
        /* 500 */
        src: local("Dana Medium"), url("../public/fonts/Dana/woff2/DanaFaNum-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Dana DemiBold";
        /* 600 */
        src: local("Dana DemiBold"), url("../public/fonts/Dana/woff2/DanaFaNum-DemiBold.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Light";
        src: local("Morabba Light"), url("../public/fonts/Morabba/woff2/Morabba-Light.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Medium";
        src: local("Morabba Medium"), url("../public/fonts/Morabba/woff2/Morabba-Medium.woff2") format("woff2");
        font-display: swap;
    }

    @font-face {
        font-family: "Morabba Bold";
        src: local("Morabba Bold"), url("../public/fonts/Morabba/woff2/Morabba-Bold.woff2") format("woff2");
        font-display: swap;
    }
}